@import url(./styles/_normalize.css);
@import url(./styles/_fonts.css);
@import url(./styles/_grid.css);

*, h1 {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-grid: rgb(187, 173, 160);
  --color-cell: rgba(238,228,218,.35);
  --color-text: rgb(119, 110, 101);
  --grid-size: 625px;
}

body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: var(--color-text);
  background: #faf8ef;
}
  