.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    height: 438px;
    width: 440px;
    margin: 0 auto;
    background-color: var(--color-grid);
    border-radius: 6px;
}

.table__cell {
    width: 97.5px;
    height: 97.5px;
    background-color: var(--color-cell);
    border-radius: 6px;
}

.c2{background-color:#eee3da;color:#776e65}
.c4{background-color:#ede0c8;color:#776e65}
.c8{background-color:#f2b179}
.c16{background-color:#f59563}
.c32{background-color:#f67c5f}
.c64{background-color:#f65e3b}
.c128{background-color:#edcf72}
.c256{background-color:#edcc61}
.c512{background-color:#9c0}
.c1024{background-color:#33b5e5;font-size:30px;color:#FFF;}
.c2048{background-color:#09c;font-size:30px;color:#FFF;}
.c4096{background-color:#a6c;font-size:30px;color:#FFF;}
.c8192{background-color:#93c;font-size:30px;color:#FFF;}