  .about__wrap {
    display: flex;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    vertical-align: middle;
    margin-bottom: 150px;
  }
  
  .about__img {
    max-width: 469px;
  }
  
  .about__text {
    padding-top: 125px;
    padding-right: 93px;
    padding-bottom: 125px;
    margin-left: 65px;
  }
  
  .about__title {
    padding-bottom: 40px;
  }
  
  .about__description {
    line-height: 28.8px;
  }