@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu.eot);
    src: url(../fonts/ubuntu/Ubuntu.woff) format("woff"), 
    url(../fonts/ubuntu/Ubuntu.ttf) format("truetype"), 
    url(../fonts/ubuntu/Ubuntu.svg) format("svg");
    font-weight: normal;
    font-style: normal;
  }
  