:root {
    --main-font: "Ubuntu", Arial, Helvetica, sans-serif;
    --font-size-body: 18px;
    --color-body: rgba(75, 93, 104, 1);
    --color-title: rgba(33, 35, 83, 1);
    --color-main: rgba(156, 105, 226, 1);
    --color-hover: rgb(130, 69, 214);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

.container {
  max-width: 1147px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
  color: var(--color-body);
  font-size: var(--font-size-body);
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  overflow-x:hidden;
}

a {
  color: var(--color-body);
  padding-left: 5px;
  padding-right: 5px;
}

a:hover{
  color: var(--color-hover);
}

h1 {
  font-size: var(--font-size-body);
  color: var(--color-title);
}

h2 {
  font-size: 40px;
  color: var(--color-title);
  line-height: 52px;
}

h4 {
  font-size: 24px;
  padding-bottom: 20px;
}

.logo {
  max-width: 49px;
  max-height: 35px;
}
