.headline {
    max-width: 1300px;
    max-height: 560px;
    margin: 0 auto;
    padding-bottom: 100px;
    margin-bottom: 100px;
  }

  .headline__title {
    max-width: 650px;
  }
  
  .headline__text {
    max-width: 380px;
    line-height: 28.8px;
    padding-bottom: 50px;
  }
  
  .headline__button {
    display: block;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 800;
    padding: 16px 37px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(156, 105, 226, 1);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .headline__button:hover {
    background-color: rgb(139, 92, 206);
  }

  .headline__img {
    position: relative;
    top: -350px;
    left: 350px;
  }
  