@import url(./styles/_normalize.css);
@import url(./styles/_fonts.css);
@import url(./styles/_general.css);
@import url(./styles/_header.css);
@import url(./styles/_headline.css);
@import url(./styles/_about.css);
@import url(./styles/_features.css);
@import url(./styles/_testimonials.css);
@import url(./styles/_footer.css);


@media (max-width: 992px) {
  .container {
    max-width: 900px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 25px;
    line-height: 45px;
  }
  .headline {
    background: url(./img/headline/headline.svg) 100% 80% no-repeat;
    background-size: 70%;
  }
  .headline__text {
    max-width: 35%;
  }
  .features__cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .features__text {
    padding-bottom: 80px;
  }
  .about {
    margin-bottom: 80px;
  }
  .about__img {
    max-width: 300px;
  }
  .about__text {
    max-width: 400px;
    padding: 30px;
  }
  .testimonials__title {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 670px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
  h4 {
    font-size: 20px;
  }
  header {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .headline {
    background: url(./img/headline/headline.svg) 90% 75% no-repeat;
    background-size: 80%;
    padding-bottom: 0px;
  }
  .headline__title {
    max-width: 100%;
  }
  .headline__text {
    max-width: 80%;
    padding-bottom: 310px;
  } 
  .headline__button {
    font-size: 14px;
  }
  .features__cards {
    margin-left: 70px;
  }
  .features__text {
    line-height: 30px;
    padding-bottom: 60px;
  }
  .about {
    margin-bottom: 80px;
  }
  .about__img {
    float: left;
    max-width: 200px;
  }
  .about__wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .about__text {
    padding: 30px;
    max-width: 100%;
  }
  .testimonials {
    margin-bottom: 80px;
  }
  .testimonials__wrap {
    padding: 50px 40px 20px 40px;
  }
  .testimonials__title {
    padding-top: 0;
    padding-bottom: 15px;
  }
  .testimonials__card {
    display: block;
    padding: 35px 30px;
  }
  .testimonials__card--active {
    width: auto;
  }
  .testimonials__avatar {
    float: left;
    padding-right: 20px;
  }
  .testimonials__slider-control {
    padding-top: 370px;
  }
  footer {
    padding-top: 90px;
  }
  .footer__feedback-block {
    padding-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 100%;
  }
  .headline {
    background-size: 100%;
  }
  .nav__list {
    justify-content: space-around;
  }
  .nav__item {
    margin-right: 0px;
  }
  .features__item {
    max-width: 370px;
    padding: 40px 40px 30px 130px;
  }
  .footer__wrap {
    display: block;
  }
  .about__wrap {
    padding: 0;
  }
  .about__img {
    max-width: 50%;
  }
  .about__text {
    padding: 20px;
  }
  .about__description {
    line-height: 25px;
  }
  .testimonials__wrap {
    padding: 30px 40px 10px 30px;
  }
  .testimonials__card {
    padding: 20px 23px;
  }
  .testimonials__card--active {
    width: 40%;
  }
}

@media (max-width: 408px) {
  h2 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  .headline {
    background: url(./img/headline/headline.svg) 80% 85% no-repeat;
    padding-bottom: 0px;
    background-size: 100%;
  }
  .headline__title {
    max-width: 100%;
  }
  .headline__text {
    max-width: 100%;
    padding: 0;
  }
  .headline__text {
    padding-bottom: 200px;
  }
  .about__img {
    max-width: 90%;
  }
  .features__title {
    padding-bottom: 40px;
  }
  .features__text {
    max-width: 100%;
    padding-bottom: 40px;
  }
  .features__cards {
    margin-left: 0;
    margin-bottom: 90px;
  }
  .features__item {
    padding: 30px 25px 15px 30px;
  }
  .features__item-img {
    top: 208px;
    left: -17px;
  }
  .features__img {
    height: 150px;
  }
  .features__btn {
    width: 80px;
    left: 160px;
  }
  .features__btn::after {
    top: 40%;
  }
  .features__btn::before {
    width: 0px;
  }
  .testimonials__card {
    max-width: 220px;
    padding: 5px 15px;
  }
  .testimonials__text {
    font-size: 14px;
  }
  .testimonials__card--active {
    width: 250px;
  }
  .testimonials__wrap {
    padding: 30px 30px 10px 20px;
  }
  .testimonials__text--hidden {
    width: 160px;
  }
  .testimonials__slider-control {
    padding-left: 20px;
    padding-right: 20px;
  }
  .testimonials__prev {
    width: 20px;
    height: 20px;
    background: transparent;
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    transform: rotate(-45deg);
  }
  .testimonials__next {
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    border-left: 2px solid rgb(255, 255, 255, 0.7);
    transform: rotate(135deg);
  }
  footer {
    padding-top: 50px;
}
  .footer__logo-block {
    margin-bottom: 30px;
  }
}


